Repository tomstetson/HomeTracker: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend, npm audit --prefix frontend

fix: update lint-staged config for windows compatibility
  .lintstagedrc
Due: secretlint --secretlintrc .secretlintrc.json

chore: add .secretlintignore to exclude local env files from scans
  .secretlintignore
Due: secretlint --secretlintrc .secretlintrc.json

feat: implement PWA with vite-plugin-pwa
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/sw.js.old
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

feat: implement daily maintenance email notifications with node-cron
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/server.ts
  backend/src/services/email.service.ts
  backend/src/services/maintenance-checker.service.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

chore: Cleanup bloat and add AI context files
  .cursorrules
  CLAUDE.md
  backend/package-lock.json
  backend/package.json
  docs/CLEANUP_PLAN.md
  frontend/package-lock.json
  frontend/package.json
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend, npm audit --prefix frontend

fix: GitHub Actions, tldraw validation, and add comprehensive tests
  .github/workflows/ci.yml
  .github/workflows/security.yml
  frontend/src/pages/Diagrams.tsx
  frontend/src/store/diagramStore.test.ts
  frontend/src/store/inventoryStore.test.ts
  frontend/src/store/projectStore.test.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

fix: UX improvements - dynamic property module and broken routes
  frontend/src/components/Layout.tsx
  frontend/src/pages/Dashboard.tsx
Due: secretlint --secretlintrc .secretlintrc.json

fix: Resolve tldraw diagram crashes and template compatibility
  frontend/src/pages/Diagrams.tsx
Due: secretlint --secretlintrc .secretlintrc.json

feat: Centralized demo data, improvement tracker, and git normalization
  .gitattributes
  docs/IMPROVEMENT_TRACKER.md
  docs/logo.svg
  frontend/public/icon-192x192.svg
  frontend/public/icon-512x512.svg
  frontend/public/logo.svg
  frontend/src/components/DataManager.tsx
  frontend/src/lib/demoData.ts
  frontend/src/lib/storage.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

docs: Comprehensive architecture remediation plan
  docs/ARCHITECTURE_REMEDIATION_PLAN.md
Due: secretlint --secretlintrc .secretlintrc.json

docs: Validation report for architecture remediation plan
  docs/ARCHITECTURE_VALIDATION_REPORT.md
Due: secretlint --secretlintrc .secretlintrc.json

perf: Bundle optimization - 86% reduction in initial load size
  frontend/src/components/DiagramEditorSkeleton.tsx
  frontend/src/components/MermaidRenderer.tsx
  frontend/src/components/TldrawEditor.tsx
  frontend/src/pages/Diagrams.tsx
  frontend/vite.config.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

feat: Phase 2 - Data Migration System
  frontend/src/lib/migrations/consolidate.ts
  frontend/src/lib/migrations/index.ts
  frontend/src/lib/migrations/runner.ts
  frontend/src/lib/storage.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

feat: Phase 3 - Storage Consolidation
  frontend/src/components/Layout.tsx
  frontend/src/lib/dataSync.ts
  frontend/src/lib/realtimeSync.ts
  frontend/src/pages/HomeInfo.tsx
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

feat: Phase 4 - UX & Quality improvements
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/hooks/useFormValidation.ts
  frontend/src/lib/schemas/index.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

feat: SQLite database implementation with AI batch processing
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/routes/ai-jobs.routes.ts
  backend/src/routes/images.routes.ts
  backend/src/server.ts
  backend/src/services/ai-batch-processor.service.ts
  backend/src/services/database.service.ts
  backend/src/services/image-storage.service.ts
  docker-compose.yml
  docs/STORAGE_ARCHITECTURE_RECOMMENDATIONS.md
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

feat: Storage providers, backup scheduler, and AI workflow integration
  backend/package-lock.json
  backend/package.json
  backend/src/routes/storage.routes.ts
  backend/src/server.ts
  backend/src/services/ai-batch-processor.service.ts
  backend/src/services/backup-scheduler.service.ts
  backend/src/services/storage-providers/index.ts
  backend/src/services/storage-providers/local.provider.ts
  backend/src/services/storage-providers/webdav.provider.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

docs: Update CLAUDE.md with v2.0 session summary and architecture
  CLAUDE.md
Due: secretlint --secretlintrc .secretlintrc.json

fix: CI failures - TypeScript errors and workflow configuration
  .github/workflows/ci.yml
  .github/workflows/security.yml
  backend/src/types/heic-convert.d.ts
  frontend/src/pages/InventoryWizard.tsx
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

fix: upgrade lucide-react from 0.294.0 to 0.561.0
  frontend/package-lock.json
  frontend/package.json
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

docs: Update CLAUDE.md with Jan 2 session progress
  CLAUDE.md
Due: secretlint --secretlintrc .secretlintrc.json

fix: Add missing backend dependencies for Docker build
  backend/package-lock.json
  backend/package.json
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

docs: Add comprehensive JSDoc documentation to Item API routes
  backend/src/routes/item.routes.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

fix: Use curl instead of wget for healthcheck, remove deprecated version
  docker-compose.yml
Due: secretlint --secretlintrc .secretlintrc.json

docs: Add comprehensive Maple AI assistant analysis and implementation guide
  docs/MAPLE_AI_ANALYSIS.md
Due: secretlint --secretlintrc .secretlintrc.json

feat: Rebrand AI Assistant to Maple 🍁 (Phase 1 - Branding & UX)
  frontend/src/components/MapleChat.tsx
  frontend/src/lib/aiService.ts
  frontend/src/pages/Dashboard.tsx
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

feat: Add PowerTracker integration Phase 1 - Core infrastructure
  CLAUDE.md
  Dockerfile
  backend/python/emporia_worker.py
  backend/python/requirements.txt
  backend/src/services/database.service.ts
  docker-compose.yml
  docker/supervisord.conf
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

feat: Add PowerTracker Phase 2 - Data aggregation and retention
  backend/src/server.ts
  backend/src/services/power-aggregation.service.ts
  backend/src/services/power-retention.service.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

feat: Add Power Monitoring settings UI and API
  backend/src/routes/power.routes.ts
  backend/src/server.ts
  frontend/src/components/PowerSettings.tsx
  frontend/src/pages/Settings.tsx
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix backend

feat: Add global Maple AI assistant with context-aware actions
  frontend/src/components/GlobalMaple.tsx
  frontend/src/components/Layout.tsx
  frontend/src/lib/mapleActions.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

feat: Enhance Maple AI with intelligent categorization and avatar
  frontend/public/images/maple-avatar.png
  frontend/src/components/GlobalMaple.tsx
  frontend/src/lib/mapleActions.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

fix: Integrate real home data into Maple AI context
  frontend/src/lib/mapleActions.ts
Due: secretlint --secretlintrc .secretlintrc.json, npm audit --prefix frontend

Path conditions:
  secretlint --secretlintrc .secretlintrc.json: any of: *
  npm audit --prefix backend: any of: backend/**/*.{js,ts,json}
  npm audit --prefix frontend: any of: frontend/**/*.{js,ts,json}
